@import '~bootstrap/scss/bootstrap';



// # Custom z-index class (similar to bootstrap's) to ensure header does not go under dumps (only necessary for debug)
.z-4 {
    z-index: 999999;
}




// # Errors style
pre.error {
    margin: 0;
    font-family: inherit;
}




// # Images management
img.game-logo,
img.card-image {
    display: block;
}
#games-index-content img.game-logo,
#cards-index-content img.card-image {
    max-width: 100px;
    max-height: 100px;
}
#games-show-content img.game-logo,
#cards-show-content img.card-image {
    max-width: 250px;
    max-height: 250px;
}